header{
    background-image:url('../headerImage.jpg');
    min-height:100vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

h1{
    margin:0;
    padding:6rem 0 4rem 0;
    letter-spacing:0.7rem;
}

input[type="text"]{
    padding:0.5rem 0 0.5rem 0.5rem;
}

textarea{
    width:55rem;
    height:30rem;
    resize:none;
    margin:0.8rem 0 0 0;
    padding:0.5rem 0 0 0.5rem;
}

input[type="text"],
textarea{
    outline:none;
}

.charCount{
    padding:0.8rem 0;
    width:25rem;
    margin:0.4rem auto 1.5rem;
    position:relative;
    left:150px;
}