@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Roboto+Slab&display=swap");

body,
::placeholder,
input[type="submit"],
button{
    font-family:'Roboto Slab', serif;;
    font-size:1.2rem;
}

h1,
h2{
    font-family:'Bangers', cursive;
}